 <div>

      <div *ngIf="currentIngredient != null">
         <div class="row justify-content-center">
            <h2>{{currentIngredient}}</h2>
         </div>
         <div class="row justify-content-center">
            <ngx-charts-bubble-chart
               [view]="view"
               [scheme]="colorScheme"
               [results]="ingredientWeightData"
               [xAxis]="showXAxis"
               [yAxis]="showYAxis"
               [legend]="showLegend"
               [showXAxisLabel]="showXAxisLabel"
               [showYAxisLabel]="showYAxisLabel"
               minRadius = 5
               [xAxisLabel]="xAxisLabel"
               [yAxisLabel]="yAxisLabel">
             </ngx-charts-bubble-chart>
         </div>
      </div>

      <div class="row justify-content-center">
         <div style="padding:10px;background: #31B96E;color:white;cursor:pointer;margin:5px;margin-bottom: 20px;" (click)="selectIngredient(ingredient);" *ngFor="let ingredient of ingredientList">
         {{ingredient}}
         </div>
      </div>


</div>