<div class="card">
    <div class="card-header" data-background-color="green">
        <h4 class="title">Ingredients Dispense Data</h4>
        <select class="form-control" name="dispense_date" style="position: absolute; right: 30px; top: -6px; width: inherit; background: none; background-color: white;" (change)="updateIngredientsDispenseChart($event.currentTarget.value)">
	        <option *ngFor="let date of dates; let i = index" [selected]="i==0" [value]="date" >{{ date | date }}{{i}}</option>
        </select>
    </div>
    <div class="card-content">
		<div class="row justify-content-center">
	    	<ngx-charts-bar-vertical
	        	[view]="CHART_VIEW"
		        [scheme]="CHART_COLOR_SCHEME"
		        [results]="ingredientsDispenseData"
		        [xAxis]="showXAxis"
		        [yAxis]="showYAxis"
		        [legend]="showLegend"
		        [showXAxisLabel]="showXAxisLabel"
		        [showYAxisLabel]="showYAxisLabel"
		        [xAxisLabel]="xAxisLabel"
		        [yAxisLabel]="yAxisLabel">
	        </ngx-charts-bar-vertical>
   		</div>
    </div>
</div>
