<div class="panel panel-info" >
    <div class="panel-heading">
        <div class="panel-title">Sign In</div>
    </div>     

    <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form [formGroup]="form" role="form" (ngSubmit)="login(form.value)">
            <div style="margin-bottom: 25px" class="input-group" [class.has-error]="email.invalid && email.touched">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input [formControl]="email" required type="text" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <div style="margin-bottom: 25px" class="input-group" [class.has-error]="password.invalid && password.touched">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input [formControl]="password" type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>          
            <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <button type="submit" class="btn btn-block btn-success">Log In</button>
            </div>
        </form>
    </div>                     
</div>
