<!--
 <div>
      <h1 class="row justify-content-center">Time to Make Your Salad</h1>
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="instructionTimeData">
      </ngx-charts-advanced-pie-chart>
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="instructionTimeData2">
      </ngx-charts-advanced-pie-chart>
</div>
-->
<div>
   <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
</div>