<div *ngIf="isLoggedIn|async" class="wrapper">
    <div class="sidebar" data-color='green' data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<div *ngIf="!(isLoggedIn|async)">
    <div class="main-content" style="width:400px; margin:auto;">
        <div id="loginbox" style="margin-top:200px;" class="mainbox"> 
            <app-login-user (onSuccess)="navigateToDashboard()"></app-login-user>
        </div>
    </div>
</div>