 <div>
      <div class="row justify-content-center">
            <ngx-charts-pie-grid
	            [view]="CHART_VIEW"
	            [scheme]="CHART_COLOR_SCHEME"
	            [results]="instructionTimeContributionData">
            </ngx-charts-pie-grid>
      </div>
</div>