 <div (click)="toggleStdDev();" style="margin:50px 0;">
      <!--
      <div class="row justify-content-center">
         <h2>{{isStdDev ? '3x Standard Dev Envelope' : 'Min / Max Weight'}}</h2>
      </div>
      -->

      <div class="row justify-content-center">
         <ngx-charts-bar-vertical-stacked
            [view]="view"
            [scheme]="colorScheme"
            [results]="ingredientWeightData"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            barPadding=5
            groupPadding=5
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical-stacked>
      </div>

</div>