<div>
	<div class="row justify-content-center">
		<ngx-charts-bar-vertical
	    	[view]="CHART_VIEW"
	        [scheme]="CHART_COLOR_SCHEME"
	        [results]="ingredientsDispenseTimeData"
	        [xAxis]="showXAxis"
	        [yAxis]="showYAxis"
	        [legend]="showLegend"
	        [showXAxisLabel]="showXAxisLabel"
	        [showYAxisLabel]="showYAxisLabel"
	        [xAxisLabel]="xAxisLabel"
	        [yAxisLabel]="yAxisLabel"
	        (select)="handleIngredientBarClicked($event)">
	    </ngx-charts-bar-vertical>
	</div>
 		<!--
      <div *ngIf="currentIngredient != null">
         <div class="row justify-content-center">
            <h2>{{currentIngredient}}</h2>
         </div>
         <div class="row justify-content-center">
            <ngx-charts-bubble-chart
               [view]="CHART_VIEW"
               [scheme]="COLOR_SCHEME"
               [results]="ingredientWeightData"
               [xAxis]="showXAxis"
               [yAxis]="showYAxis"
               [legend]="showLegend"
               [showXAxisLabel]="showXAxisLabel"
               [showYAxisLabel]="showYAxisLabel"
               minRadius = 5
               [xAxisLabel]="xAxisLabel"
               [yAxisLabel]="yAxisLabel">
             </ngx-charts-bubble-chart>
         </div>
      </div>

      <div class="row justify-content-center">
         <div style="padding:10px;background: #31B96E;color:white;cursor:pointer;margin:5px;margin-bottom: 20px;" (click)="selectIngredient(ingredient);" *ngFor="let ingredient of ingredientList">
         {{ingredient}}
         </div>
      </div>
      -->

</div>