<div class="main-content">
    <div class="container-fluid">
        <app-stats-cards [saladsList]="saladsList | async"></app-stats-cards>
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <app-salad-count-chart [saladsList]="saladsList | async">        
                    </app-salad-count-chart>
                </div>
            </div>
            <!--
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Average Time Spent</h4>
                    </div>
                    <div class="card-content">
                        <app-statistical-time-chart>        
                        </app-statistical-time-chart>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>

        <!--
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Dispensing Time</h4>
                    </div>
                    <div class="card-content">
                        <app-statistical-ingredient-time-chart [saladList]="saladDispensingDetailsList | async"><
                        </app-statistical-ingredient-time-chart>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Average Salad Making Time Contribution</h4>
                    </div>
                    <div class="card-content">
                        <app-salad-time-chart [saladsList]="saladDispensingDetailsList | async">
                        </app-salad-time-chart>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Average Ingredient Dispense Time</h4>
                    </div>
                    <div class="card-content">
                        <app-ingredient-time-bubble-chart [saladList]="saladDispensingDetailsList | async">
                        </app-ingredient-time-bubble-chart>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Average Ingredient Dispense Time</h4>
                    </div>
                    <div class="card-content">
                        <app-ingredients-dispense-time-chart [saladsList]="saladDispensingDetailsList | async">
                        </app-ingredients-dispense-time-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Weight Accuracy</h4>
                    </div>
                    <div class="card-content">
                        <app-ingredients-weight-accuracy-chart [saladsList]="saladDispensingDetailsList | async"><
                        </app-ingredients-weight-accuracy-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-ingredients-dispense-chart [saladsList]="saladDispensingDetailsList | async">
                </app-ingredients-dispense-chart>
            </div>
        </div>

    </div>
</div>