<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
            <div class="card-header" data-background-color="green">
                <i class="material-icons">local_dining</i>
            </div>
            <div class="card-content">
                <p class="category">Total Sales</p>
                <h3 class="title">{{saladsSoldToday}}<small> salad<span *ngIf="saladsSoldToday > 1">s</span></small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">tablet</i>
            </div>
            <div class="card-content">
                <p class="category">Sally Count</p>
                <h3 class="title">1</h3>
            </div>
             <div class="card-footer">
                <div class="stats">
                    <a [routerLink]="['/sally']" style="color:rgb(49, 185, 110);">Manage Sally</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
            <div class="card-header" data-background-color="red">
                <i class="material-icons" style="padding-left:10px;">local_grocery_storee</i>
            </div>
            <div class="card-content">
                <p class="category">Ingredients</p>
                <h3 class="title">19</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a [routerLink]="['/ingredients']" style="color:rgb(49, 185, 110);">Manage Ingredients</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" >
            <div class="card-header" data-background-color="blue">
                <i class="material-icons">av_timer</i>
            </div>
            <div class="card-content">
                <p class="category">Avg Time Spent</p>
                <h3 class="title">83.87<small> sec</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div>	